In [2]:
import pandas as pd
import numpy as np

In [3]:
myData = pd.read_csv('plantilla.csv')
myData

       Producto  Cantidad  ID Pedido  Posicion  Mesa  Precio
0       Cerveza         0         -1        -1    -1      -1
1          Agua         0         -1        -1    -1      -1
2  Papas Bravas         0         -1        -1    -1      -1
3   Ensaladilla         0         -1        -1    -1      -1
4     Montadito         0         -1        -1    -1      -1

In [4]:
myData = myData.replace(-1, np.nan)
myData

       Producto  Cantidad  ID Pedido  Posicion  Mesa  Precio
0       Cerveza         0        NaN       NaN   NaN     NaN
1          Agua         0        NaN       NaN   NaN     NaN
2  Papas Bravas         0        NaN       NaN   NaN     NaN
3   Ensaladilla         0        NaN       NaN   NaN     NaN
4     Montadito         0        NaN       NaN   NaN     NaN

In [5]:
myData[myData['Cantidad'] > 0]

Empty DataFrame
Columns: [Producto, Cantidad, ID Pedido, Posicion, Mesa, Precio]
Index: []

In [6]:
def addProduct(name,quantity,dataframe):
    for n,q in zip(name,quantity):
        myData.loc[myData['Producto'] == n,'Cantidad'] =  myData.loc[myData['Producto'] == n,'Cantidad'] + q

addProduct(['Agua','Cerveza'],[1,3],myData)

myData

       Producto  Cantidad  ID Pedido  Posicion  Mesa  Precio
0       Cerveza         3        NaN       NaN   NaN     NaN
1          Agua         1        NaN       NaN   NaN     NaN
2  Papas Bravas         0        NaN       NaN   NaN     NaN
3   Ensaladilla         0        NaN       NaN   NaN     NaN
4     Montadito         0        NaN       NaN   NaN     NaN

In [9]:
#import dataManagement as dm
from dataManagement import Account
df = pd.read_csv('plantilla.csv')
df

Empty DataFrame
Columns: [Producto, Cantidad, ID Pedido, Posicion, Mesa]
Index: []

In [43]:
rows, cols = (7,2)
cuentas = [[0 for i in range(cols)] for j in range(rows)]
cuentas[6][0] = Account('cuenta',df,7,0)
arr

[[0, 0],
 [0, 0],
 [0, 0],
 [0, 0],
 [0, 0],
 [0, 0],
 [<dataManagement.Account at 0x2559a666790>, 0]]